<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victim info</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="campus_dashboard.css">

</head>

<body>

    <div class="row">
        <div class="col">

            <main class="table">
                <section class="table__header">
                    <h1>Multiple agency</h1>
                    <div class="input-group">
                        <input type="search" placeholder="Filter Data...">
                    </div>

                </section>
                <section class="table__body">
                    <table>
                        <thead>
                            <tr>
                                <th>Case no. <span class="icon-arrow">&UpArrow;</span></th>
                                <th>University name <span class="icon-arrow">&UpArrow;</span></th>
                                <th>Case Assign to <span class="icon-arrow">&UpArrow;</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(item=> { %>
                                <tr>

                                    <td>
                                        <%= item.case_no%>
                                    </td>
                                    <td>
                                        <%= item.University_name%>
                                    </td>
                                    <td>
                                        <%= item.inspecter_name%>
                                    </td>
                                  
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </section>
            </main>
               
            </body>

            </html>

        </div>

    </div>

    <script src="campus_dashboard.js"></script>

</body>

<footer>

</footer>

</html>